#bt{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

#txt{
    width: 37%;
    opacity: 0.8;
}

#buttons{
    margin-top: 10px;
}

.head{
    color:#6D6D6D;
}

.container{
    background-image: url(black-background_00313351.jpg);
    padding-top: 6%;
    width: auto;
    height: 672px;
    padding-left: 35%;
}

.clr{
    background-color: #00B6A8;
    color: aliceblue;
}

.clr1{
    background-color: #B90E08;
    color: aliceblue;
}

.clr2{
    background-color: #646464;
    color: aliceblue;
}